version: "3.8"

services:
  nginx:
    build: requirements/nginx/.
    container_name: nginx
    ports:
      - "555:555"
  wordpress:
    build: requirements/wordpress/.
    container_name: wp-php
  mariadb:
    build: requirements/mariadb/.
    container_name: mariadb
    environment:
      MYSQL_ROOT_PASSWORD:
      MYSQL_DATABASE:
      MYSQL_USER:
      MYSQL_PASSWORD: