# version: "3.8"

services:
  mariadb:
    build: srcs/requirements/mariadb
    container_name: mariadb
    restart: always
    env_file:
      - .env
    # - .env.local # changer par .env pour correction
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception

  wordpress:
    build: srcs/requirements/wordpress/.
    container_name: wordpress
    restart: always
    env_file:
      - .env
      # - .env.local # changer par .env pour correction
    volumes:
      - wordpress_data:/var/www/html
    depends_on:
      - mariadb
    networks:
      - inception

  nginx:
    build: srcs/requirements/nginx/.
    container_name: nginx
    restart: always
    ports:
      - "443:443"
    volumes:
      - wordpress_data:/var/www/html
    depends_on:
      - wordpress
    networks:
      - inception

volumes:
  mariadb_data:
  wordpress_data:

networks:
  inception:
    driver: bridge